version: '3'

services:
  database:
    container_name: database
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: driiink_api
    ports:
      - '4306:3306'
  php:
    container_name: php
    build:
      context: .
    ports:
      - '9000:9000'
    volumes:
      - .:/var/www/symfony_docker
    depends_on:
      - database
    links:
      - "database:database"
  nginx:
    container_name: nginx
    image: nginx:stable-alpine
    ports:
      - '8080:80'
    volumes:
      - .:/var/www/symfony_docker
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
      - database

